/* @import url('http://fonts.cdnfonts.com/css/post-no-bills-colombo'); */

.bg-color-land {
  background-color: #374258;
  width: 100%;
  height: 645px;
  font-family: "Post No Bills Colombo", sans-serif;
}
.dino-bg {
  width: 50%;
  float: right;
  position: absolute;
  padding-left: 60rem;
  padding-top: 8.2rem;
}
.title {
  width: 50%;
  float: left;
  font-size: 10vw;
  /* font-family: "Post No Bills Colombo", sans-serif; */
  color: #ad9efe;
  padding-left: 7rem;
  padding-top: 10rem;
}

.title p {
  font-size: 2.2vw;
  color: #f2debd;
}
