/* @import url('http://fonts.cdnfonts.com/css/post-no-bills-colombo'); */
.NavbarItems{
    background-color:  #F2DEBD;
    height: 80;
    border:0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
}
.navbar-logo{
    justify-self: start;
    margin-left: 10px;
    cursor: pointer;
}
.title{
    margin-left: 0.4rem;
    font-size: 1.6rem;
    
}

.nav-menu{
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-links{
    color: black;
    text-decoration: none;
    padding: 10rem, 10rem;
}

.nav-links:hover {
    transition: all 0.2s, ease-out;
}
.fa-bars {
    color: black;
}

.nav-links-mobile{
    display: none;
}

.menu-icon{
    display: none;
}

@media screen and (max-width: 960px) {
    .NavbarItems{
        position: relative;
    }
    .nav-menu{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 150px;
        position:absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
        }
    
    .nav-menu.active{
        background-color: #F2DEBD;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-link{
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-link:hover{
        background-color: #374258;
        border-radius: 0;
    }
    .navbar-logo{
        position:absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon{
        display: block;
        position:absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
    }
}