* {
  margin: 0%;
  padding: 0%;
}

#forms {
  width: 100%;
  height: 100vh;
  background-color: #374258;
  display: flex;
  flex-direction: column;

  align-items: center;
}

.upperText {
  margin-top: 1%;
  font-size: 4.5rem;
  /* letter-spacing: 1rem; */
  text-transform: uppercase;
  /* padding-bottom: 45%;
  padding-left: 25%; */
  /* width: 10%; */
  height: 20%;
  font-weight: 20;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #ac9dfd;
  /* font-family: 'Post No Bills Colombo', sans-serif; */
}

.innerDabba {
  width: 85%;
  height: 75%;
  background-color: #f2debd;
  display: flex;
  /* margin-top: 10%; */
  align-items: center;
  border-radius: 17px;
}

.questions {
  width: 80%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 2rem;
  color: #ffffff;
}

.questions p,
.opts {
  width: 40%;
  padding: 5px;
  margin: 5px;
  background-color: #374258;
  border-radius: 5px;
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.opts {
  text-align: left;
}

.quesimg {
  /* width: 50%; */
  /* padding: 10%;
  padding-left: 70%; */
  background-color: transparent;
  height: 100%;
  position: absolute;
  right: 2%;
  top: 200%;
}

.btns {
  width: 30%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.btns button,
.btns input {
  font-size: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
